/* popup.css */

body {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  margin: 0;
  padding: 0;
  background: url('./Background.png');
  min-width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* This ensures the content is centered vertically */
}

.container {
  width: 250px;
  padding: 20px;
  color: wheat;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-size: 30px;
  margin-bottom: 15px;
}

.btn-lvl-1 {
  display: flex;
  justify-content: center;
}

button {
  border-radius: 25px;
  color: white;
  padding: 5%;
  margin: 5px;
  font-weight: bold;
  background-color: #b21607;
}

button:hover {
  color: #000000;
  background-color: yellow;
  cursor: pointer;
}

#captions {
  border: 1px solid #ccc;
  padding: 10px;
  background: rgba(255, 255, 255, 0.5);
  color: #000000;
  overflow-y: auto;
  font-size: 25px;
  min-height: 300px;
  min-width: 435px;
}
