/* popup.css */
body{
    background-color: #e58b3c;
}
.container {
    width: 400px;
    padding: 20px;
    border-radius: 15px;
    /* background-color: violet; */
}

textarea {
    width: 100%;
    margin-bottom: 10px;
}

button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
